// Blog archive/listing page
.blog-list-page {
  padding: 4em 0;
  position: relative;
}

.pagination {
  list-style: none;
  margin: 2.5em auto 0;
  width: 100%;
  text-align: center;
  ul {
    padding: 0;
  }
  li {
    display: inline-block;
  }
  a {
    padding: 3px 10px;
    border: 2px solid $brand-main;
    border-radius: 3px;
    margin: 0 5px;
    &:hover {
      background: rgba($brand-main, 0.5);
      color: $brand-main;
    }
  }
  .current a {
    background: $brand-main;
    color: white;
  }
}

// Single Blog Page
header.blog-single {
  background: $brand-main;
  color: $offWhite;
  padding: 4rem 0;
  margin-bottom: 2em;
}
.author-picture {
  max-width: 50px;
  border-radius: 50%;
  vertical-align: middle;
  margin: 0 10px;
}
.content article {
  margin: 2em auto;
}
// Blog style
.content {
  width: 100%;
  max-width: 100%;
  p {
    // max-width: $tablet-width;
    margin: 0 auto 1em;
    @include lessThanTablet() {
      width: 100%;
      padding: 0 1rem;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // max-width: $tablet-width + 100;
    @include lessThanTablet() {
      width: 100%;
      padding: 0 1rem;
    }
  }
  blockquote {
    max-width: $tablet-width + 100;
    margin: 1em auto;
    @include lessThanTablet() {
      width: 100%;
      padding: 0 1rem;
    }
  }
  img {
    margin: 3em auto 6rem;
    box-shadow: 0 18px 42px 1px #888888a6;
    display: block;
    border-radius: 3px;
    align-self: center;
    &.no-shadow {
      box-shadow: none;
    }
    &.no-border-radius {
      border-radius: 0;
    }
  }
  hr {
    border: none;
    height: 1px;
    width: 100%;
    width: calc(100% - #{$flexGap});
    background-color: #e7e7e7;
    margin: 6rem auto;
  }
  iframe {
    margin: auto;
    box-shadow: 0 18px 42px 1px #888888a6;
    margin: 0 auto 5em;
    min-height: 400px;
  }
  ul,
  ol {
    padding-left: 1em;
    li {
      margin-bottom: 0.3em;
      padding: 0.5em 0;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  a.inline-btn {
    background: $brand-secondary;
    text-decoration: none;
    padding: 0.3em 0.6em;
    display: inline-block;
    margin-bottom: 0.4em;
    color: $offWhite;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.23s ease;
    &:hover {
      border-radius: 0;
    }
  }
}