@charset "UTF-8";
// "Simpul" SASS / HTML & PHP website starting block that suits the majority of basic websites being built from scratch
// https://github.com/mrwigster/simpul/
// By @MrWigster
// Useful variables, brand colours, fonts, breaakpoint widths
@import "vars";
// The normalise styles by Bootstrap to normalize consistent styles across all browsers and set up some nice baseline standards
@import "simpul/norm";
// Media query setup
@import "simpul/mediaq";
// Useful little bits
@import "simpul/utils";
// A simple accordion
@import "simpul/accordion";
// A simple slider
@import "simpul/slider";
// Basic layout and framework structure
@import "simpul/framework";
// Basic polyfill to fall grid layout down to grid
@import "simpul/polyfill";
// Social Icons
@import "simpul/social";
// "hero" style element/large header
@import "simpul/hero";
// Form related elements.
@import "simpul/form";
// Button related elements.
@import "simpul/button";
// Header of site
@import "simpul/header";
// Footer of site
@import "simpul/footer";
// All baseline typography settings
@import "simpul/typography";
// Long form content baseline (based on lots of research that narrow long form is better)
@import "simpul/content";
// Simple card element
@import "simpul/card";
// Basic blog styles
@import "blog";


// Homepage/Demo styles
// Delete or re:use
@import "demo";