input, textarea {
  border: 2px solid #cbced2;
  border-radius: 6px;
  padding: 0.5em;
  width: 100%;
}
input[type="checkbox"] {
  width: auto;
}
.btn, button, .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  border: 3px solid $brand-main;
  border-radius: 3px;
  padding: 10px 20px;
  color: $brand-main;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1em;
  &:hover {
    background-color: $brand-secondary;
    color: $brand-main;
  }
}
.social-icons {
  a {
    width: 35px;
    display: inline-block;
    margin: 0 10px;
    &:hover {
      svg path, .ig-svg .circ {
        fill: $brand-secondary-complement;
        stroke: $brand-secondary-complement;
      }
      .ig-svg g {
        // fill: $brand-main-complement;
        stroke: $brand-secondary-complement;
      }
    }
  }
  svg path, .ig-svg .circ {
    fill: $brand-main;
  }
  .ig-svg g {
    stroke: $brand-main;
  }
}
mark {
  background: #cc924f21;
  padding: 2px 5px;
  border-radius: 3px;
  margin: 0 2px;
}