footer.site-footer {
  background-color: $brand-secondary;
  margin-top: 2em;
  padding: 1em 0;
  .third:nth-child(2) {
    text-align: center;
  }
  .third:last-child {
    text-align: right;
    @include lessThanDesktop() {
      text-align: center;
    }
  }
  .footer-menu {
    a {
      display: block;
      width: 100%;
      color: white;
      &:hover {
        color: $brand-main-complement;
      }
      @include mobile() {
        padding: 0.5em 0;
      }
    }
  }
  .third {
    display: flex;
    flex-wrap: wrap;
    a.footer-logo {
      display: block;
      max-width: 200px;
      margin: auto;
    }
    @include lessThanDesktop() {
      text-align: center;
    }
  }
  .copyright {
    width: 100%;
    font-size: 0.8em;
    color: white;
  }
  .social-icons {
    width: 100%;
    @include lessThanDesktop(){
      margin: 2em 0;
    }
    a:last-child {
      margin-right: 0;
    }
  }
}