html {
  width: 100%;
}
body {
  background: white;
  color: $offBlack;
  position: relative;
  width: 100%;
}
header.site-header {
  padding: 1em 0;
  width: 100%;
  z-index: 100;
  background: white;
  .flex-wrap {
    align-items: center;
  }
  .logo {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    img, svg {
      display: block;
      // Set the height of your logo
      height: 50px;
      width: auto;
      margin-left: $flexGap / 2;
    }
  }
  .menu {
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    a {
      padding: 0 20px;
      font-size: 1.1em;
      &:last-of-type {
        padding-right: 0;
        margin-right: $flexGap / 2;
      }
    }
    @include lessThanTablet() {
      justify-content: center;
    }
  }
}