button,
.button,
.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: $brand-main;
  border: 1px solid $brand-main;
  border-radius: 30px;
  padding: 0.6rem 1.8rem;
  color: $brand-main-complement;
  transition: all 0.3s ease;
  display: inline-block;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 1em;
  white-space: nowrap;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  &:hover {
    // background-color: $offBlack;
    border: 1px solid $offBlack;
    color: $offBlack;
    text-decoration: none;
    background: black;
    color: white;
  }
  &-outline {
    @extend .btn;
    background: none;
    color: $brand-main;
    border: 1px solid $brand-main;
  }
}
input[type="submit"] {
  @extend .btn;
  margin-bottom: 0;
}
