html {
  width: 100%;
}
body {
  background: white;
  position: relative;
  width: 100%;
}

header.site-header {
  padding: 1.3em;
  width: 100%;
  z-index: 100;
  background: white;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #e3e3e3;
  .flex-wrap {
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    img,
    svg {
      display: block;
      height: 20px;
      width: auto;
      max-width: 100%;
    }
  }
  .menu {
    a {
      padding: 0 20px;
      &:last-of-type {
        padding-right: 0;
        margin-right: $flexGap / 2;
      }
    }
    @include lessThanTablet() {
      justify-content: center;
    }
  }
}
#hamburger-menu {
  z-index: 1000;
}
.mobile-toggle {
  display: flex;
  align-items: center;
  appearance: none;
  touch-action: manipulation;
  background-color: none;
  color: inherit;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  outline: none;
  padding: 8px 0;
  &__icon {
    width: 25px;
    height: 2px;
    background: $brand-main;
    display: block;
    transition: height 0.1s cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    &::after,
    &::before {
      content: " ";
      width: 25px;
      height: 2px;
      background: $brand-main;
      display: block;
      position: relative;
      top: 6px;
      transition: top 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.3s,
        transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    }

    &::before {
      top: -8px;
    }
  }

  &.active &__icon {
    height: 0;
    &::after {
      top: -2px;
      transform: rotate(45deg);
      transition: top 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0s,
        transform 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    }
    &::before {
      top: 0;
      transform: rotate(-45deg);
      transition: top 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0s,
        transform 0.3s cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    }
  }
}
